.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects{
    background-color: #e2edff;

}

section {
    padding-top: 4.5rem;
}

.image-move {
    transition: transform 0.3s ease-in-out;
}

.image-move:hover {
    transform: scale(1.02)
}

.card img {

    width: auto;
    height: 12rem;
    object-fit: cover;
}

.carousel-item img {
    width: auto;
    height: 18rem;
    object-fit:fill;
}

/* .col-8 h1 {
    white-space: nowrap;
}

.col-4 h1 {
    white-space: nowrap;
}  */

.carousel-inner .carousel-item {
    cursor: pointer;
}

.card {
    min-height: 350px;
    overflow-y: auto;
}